* {
    padding: 0;
    margin: 0;
}
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #71DDFF;
    font-family: Calibri, Arial;
}
h2,
h3,
p {
    padding: 0.2rem 2rem;
}
/********************************
        TABS
********************************/

nav {
    height: 3rem;
    width: 100%;
}
ul.tabs {
    width: 100%;
    /*margin-bottom:30px;*/
}
/*
li
{
padding-left: 10px;
background-image: url(../img/home.svg);
background-repeat: no-repeat;
background-position:  .5em;
    background-size: 32px 32px
}
*/
.tabs li.tab {
    background-color: #444;
    float: left;
    display:inline-block;
    height: 3.1rem;
    display: inline-block;
    width: 33.3333%;
}
.tabs li.tab a {
    display: block;
    padding: 0.5rem 2rem;
    font-size: 0.5rem;
    line-height: 2rem;
    height: 2rem;
    color: #fff;
    text-decoration: none;
    border: none;
    background-color: #555;
    text-align: center;
}
.tabs li.tab a.activetab {
    background-color: #71DDFF;
    color: #0cf;
    border-top: 1px solid #666;
    border-right: 1px solid #222;
    border-left: 1px solid #666;
    /* 
  to hide the border on top of the page 
  for the active tab only
  */
    position: relative;
    z-index: 30;
}
/********************************
        PAGES
********************************/

[data-role="page"] {
    position: absolute;
    top: 3rem;
    color: #FFF;
    margin-top: -1px;
    left: 100%;
    right: -10px;
    transition: left 0.5s linear, right 0.5s linear;
/*    padding-left: 3rem;*/
    z-index: 10;
    /*** Items to trigger hardware acceleration ***/
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
[data-role=page].active {
    left: 0;
    right: 0;
    z-index: 5;
    background-color: #71DDFF;
    border-top: 1px solid #666;
}
[data-role=page].show {
    display: block;
}
[data-role=page].hidden {
    display: none;
}